.question {
  /* box-sizing: content-box; */
  /* border-radius: 10px; */
  height: 100vh;
  width: 100%;
  /* margin-block: 17vh; */
  text-align: center;
  color: rgba(252, 163, 17, 1);
}

.noshow {
  display: none;
}

.show {
  /* display: 'flex'; */
  /* flex-direction: 'column'; */
  /* align-items: 'center'; */
}

.answer-div {
  align-items: center;
  padding-block: 30%;
  margin: 15%;
}
.go-back {
  padding: 40px;
}
.kidinfo-button {
}
