@media (min-width: 320px) and (max-width: 768px) {
  .record {
    width: 100%;
  }
}

div {
  border: none;
}

.recording-foot {
  animation: tilt-shaking 0.5s linear infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.recording-msg {
  border-radius: 30px;
  background-color: rgb(248, 172, 185);
  /* background-color: var(--main-orange); */
  padding: 3px 8px;
  box-shadow: 3px 3px 3px gray;
}

.recording-btn {
  margin: 5px;
  border-radius: 0;
  background-color: white;
  border: 1px solid black;
  color: black;
}
