.planMapFloat {
  position: absolute;
  background-color: white;
  z-index: '2';
}

/* .plan-frame {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: 'center';
  justify-content: center;
  padding: 3vh 20vh;
} */

.planning-div {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  padding: 5%;
  box-shadow: 2px 2px 15px rgba(217, 217, 217, 1);
  border-radius: 5px;
}

.place-basket-div {
  background-color: rgba(247, 247, 247, 0.8);
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  padding: 5%;
  box-shadow: 1px 1px 10px gray;
  border-radius: 5px;
  height: 20%;
  overflow: scroll;
}

.plan__cityframe {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 3%;
  box-shadow: 2px 2px 15px rgba(217, 217, 217, 1);
  border-radius: 5px;
}

.city__table {
  width: 90%;
  margin: 5%;
  padding: 5%;

}