.planMapFloat {
  position: absolute;
  background-color: white;
  z-index: '2';
}

.plan-frame {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
