.placeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 1%;
}

.placeFrame {
  display: flex;
  margin: 5vw;
  justify-content: center;
}

.carousel-slider {
  padding: 1%;
}

.mainFrame {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-block: 3vh;
}

/*
.recommandCard {
  padding: 2.5%;
  margin-inline: 5%;
  margin-block: 15%;
}

.recomandCityCard {
  margin-inline: 5%;
}
*/

.main-div {
  padding: 2%;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(252, 163, 17, 1);
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}
