.placeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 1%;
}

.placeFrame {
  display: flex;
  margin: 5vw;
  justify-content: center;
}

.carousel-slider {
  padding: 1%;
}

.main-frame {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-block: 3vh;
  padding: 3vh;
}

.user-plan {
  padding: 3vh;
}
/*
.recommandCard {
  padding: 2.5%;
  margin-inline: 5%;
  margin-block: 15%;
}

.recomandCityCard {
  margin-inline: 5%;
}
*/

/* 
.main-div {
  padding: 3% 2%
} */

.plus-plan:hover {
  cursor: pointer;
}

.head-bar {
  background-color: 'rgba(0, 55, 86, 1)';
  box-shadow: '0';
}
