/* 배경 색 : rgba(255, 255, 255, 0.922)
/* 시그니쳐 색 : rgb(59, 45, 142) */

.placeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 1%;
}

.placeFrame {
  display: flex;
  margin: 5vw;
  justify-content: center;
}

.carousel-slider {
  padding: 1%;
}

.main-frame {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-block: 3vh;
  padding: 3vh;
  /* background-color: rgb(249, 255, 202); */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.user-plan {
  padding: 3vh;
  padding-top: 3.5vh;
  /* background-color: rgb(249, 255, 202); */
  background-color: rgba(255, 255, 255, 0.922);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(131, 127, 127, 0.4);
}

/*
.recommandCard {
  padding: 2.5%;
  margin-inline: 5%;
  margin-block: 15%;
}

.recomandCityCard {
  margin-inline: 5%;
}
*/

.main-div {
  padding: 0% 0%;
  background-color: rgb(59, 45, 142);
}

.plus-plan:hover {
  cursor: pointer;
}

.head-bar {
  background-color: 'rgba(0, 55, 86, 1)';
  box-shadow: '0';
}

.dday-alarm {
  /* background-color: rgb(255, 243, 152); */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(203, 203, 203, 0.314);
  margin-top: 3px;
  text-align: center;
  /* animation-duration: 3s;
  animation-name: slidein; */
}

.dday-alarm-text {
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.dday-alarm-button {
  margin-bottom: 15px;
  margin-left: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(89, 56, 255);
  box-shadow: 3px 3px 3px rgb(232, 236, 248);
  padding: 5px 10px;
  width: 150px;
  font-size: 13px;
}

.dday-alarm-button2 {
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  background-color: rgb(89, 56, 255);
  box-shadow: 3px 3px 3px rgb(232, 236, 248);
  margin-bottom: 10px;
  padding: 0px;
}

.plan-append {
  /* background-color: rgb(255, 243, 152); */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(203, 203, 203, 0.314);
  /* animation-duration: 3s; */
  /* animation-name: slidein; */
  text-align: center;
}

.plan-append-text {
  padding: 10px;
  padding-left: 10px;
}

.plan-append-text {
  margin-bottom: 10px;
  margin-left: 15px;
}

.recommend {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.922);
  font-size: 13px;
}

.main-animation {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .family-photo-animation {
  animation-duration: 3s;
  animation-name: slidein;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.reco-item {
  display: flex;
  /* margin-block: 3vh; */
  margin-inline: 3vw;
  border-bottom: solid 0.3px;
  padding-block: 1vh;
  width: 95vw;
  height: 20vh;
}

.reco-info {
  width: 70%;
  margin-right: 5vw;
  margin-bottom: 0.5vh;
  padding-left: 0.3vw;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.reco-info-outline {
  height: 57%;
  display: inline-block;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.reco-info-outline>p {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .outline-ptag {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.reco-img {
  width: 30%;
  height: 100%;
}

.reco-catagory {
  /* height: 30%; */
}

.reco-src {
  width: 100%;
  height: 100%;
}

.detail-frame {
  background-color: rgb(224, 247, 243);
  box-shadow: 0px 1px 1px rgb(14, 13, 13);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-inline: auto;
  margin-block: 5%;

  padding: 2%;
}

.detail-head {
  /* justify-self: center; */
  padding-inline: 8%;
  height: 15vh;
  padding-block: 5%;
}

.detail-headsub {
  display: flex;
  padding-block: 7%;
  padding-inline: 10%;
  justify-content: space-between;
}

.detail-head-add {
  text-decoration: none;
}

.detail-img-frame {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 30vh;
  /* margin: 2%; */

}

.detail-img {
  border-radius: 5%;
  width: 95%;
  height: 95%;
}

.detail-outline {
  padding: 5%;
}

.detail-subinfo1 {
  margin: auto;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.detail-subinfo2 {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}