/* 배경 색 : rgba(255, 255, 255, 0.922)
/* 시그니쳐 색 : rgb(59, 45, 142) */

.placeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 1%;
}

.placeFrame {
  display: flex;
  margin: 5vw;
  justify-content: center;
}

.carousel-slider {
  padding: 1%;
}

.main-frame {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-block: 3vh;
  padding: 3vh;
  /* background-color: rgb(249, 255, 202); */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.user-plan {
  padding: 3vh;
  /* background-color: rgb(249, 255, 202); */
  background-color: rgba(255, 255, 255, 0.922);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(64, 63, 63, 0.4);
}
/*
.recommandCard {
  padding: 2.5%;
  margin-inline: 5%;
  margin-block: 15%;
}

.recomandCityCard {
  margin-inline: 5%;
}
*/

.main-div {
  padding: 0% 0%;
  background-color: rgb(59, 45, 142);
}

.plus-plan:hover {
  cursor: pointer;
}

.head-bar {
  background-color: 'rgba(0, 55, 86, 1)';
  box-shadow: '0';
}

.dday-alarm {
  /* background-color: rgb(255, 243, 152); */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(203, 203, 203, 0.314);
  margin-top: 3px;
  /* animation-duration: 3s;
  animation-name: slidein; */
}

.dday-alarm-text {
  padding: 10px;
  padding-left: 20px;
}

.dday-alarm-button {
  margin-bottom: 15px;
  margin-left: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(46, 95, 243);
  box-shadow: 3px 3px 3px rgb(232, 236, 248);
  padding: 5px 10px;
}

.dday-alarm-button2 {
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  background-color: rgb(46, 95, 243);
  /* box-shadow: 10px 10px 10px rgba(93, 75, 196, 0.314); */
  margin-bottom: 10px;
  padding: 0px;
}

.plan-append {
  /* background-color: rgb(255, 243, 152); */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(203, 203, 203, 0.314);
  /* animation-duration: 3s; */
  /* animation-name: slidein; */
}

.plan-append-text {
  padding: 10px;
  padding-left: 10px;
}

.plan-append-text {
  margin-bottom: 10px;
  margin-left: 15px;
}

.recommend {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.922);
}

.main-animation {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .family-photo-animation {
  animation-duration: 3s;
  animation-name: slidein;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
