/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gamja+Flower&family=Nanum+Pen+Script&display=swap');

body {
  font-family: 'Do Hyeon', sans-serif;
}

/* Material UI에 도현체 적용 */
[class^='MuiTypography'] {
  font-family: 'Do Hyeon', sans-serif !important;
}

/* 화면 크기별 css 설계하기
반응형 웹 구현하는데 씀 */
@media (min-width: 650px) {
  .App {
    height: auto;
    width: 100vw;
    justify-items: center;
    /* background-color: black; */
  }
}

@media (max-width: 650px) {
  .App {
    background-color: rgb(241, 244, 255);
    height: auto;
    width: 100vw;
    justify-items: center;
    text-align: left;
  }
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(252, 163, 17, 1);
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}


:root {
  --main-orange: rgba(252, 163, 17, 1);
}